html, body, .main {
    height: 100%;
}

.header {
    text-align: center;
    background-color: blue;
    color: white;
}

.main {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 80%;
    width: 80%;
    flex-wrap: wrap;
}

.resume {
    overflow: scroll;
}

.section {
    text-align: center;
    width: 100%;
}



.nav-link {
    height: 100%;
    color: white !important;
}

.nav-link:hover {
    background-color: aqua;
    color: black !important;
}

@media (min-width: 768px) {
    .nav-item {
        width: 20%;
    }

    #intro {
        width: 50%;
    }

}